In [1]:
import pandas as pd

In [18]:
subject=pd.read_csv('dataset/original_data/subjectd-concentrating-1.csv')

subject a=['timestamps', 'TP9', 'AF7', 'AF8', 'TP10', 'Right AUX']
subject b=['timestamps', 'TP9', 'AF7', 'AF8', 'TP10', 'Right AUX']
subject c=['timestamps', 'TP9', 'AF7', 'AF8', 'TP10', 'Right AUX']

In [19]:
subject.columns.to_list()

['timestamps', 'TP9', 'AF7', 'AF8', 'TP10', 'Right AUX']

         timestamps     TP9     AF7      AF8    TP10  Right AUX
0      1.533223e+09  58.105  28.320   15.137  12.207     54.199
1      1.533223e+09  62.012  30.273   43.945  11.719     79.102
2      1.533223e+09  44.922  30.273  -97.656  11.230     32.715
3      1.533223e+09  28.809  27.832 -110.352   9.277     29.785
4      1.533223e+09  35.156  28.809  -73.242  11.230     50.781
...             ...     ...     ...      ...     ...        ...
15187  1.533223e+09  25.391  33.203 -388.672  22.461     19.043
15188  1.533223e+09  35.645  33.203 -136.230  24.902      0.977
15189  1.533223e+09  48.828  31.250  258.789  38.086    -15.137
15190  1.533223e+09  50.293  31.250  264.160  39.551     -5.859
15191  1.533223e+09  45.410  30.273   27.344  39.062     49.805

[15192 rows x 6 columns]